html {
	--btn-width: min(30vw, 30vh);
	--btn-height: var(--btn-width);
	--btn-margin: min(1.5vw, 1.5vh);
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: calc(50vh - var(--btn-height) - 2 * var(--btn-margin)) auto 0 auto;
	width: calc(2 * var(--btn-width) + 4 * var(--btn-margin));
	/* max-width: 90vh; */
}

.btn {
	height: var(--btn-height);
	width: var(--btn-width);
	margin: var(--btn-margin);
}

#green {
	background-color: green;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

/* Media query for desktop */

@media screen and (min-width: 1367px) {
	#red {
		background-color: black;
	}
}

/* 
MAYBE MAKE SQUARES A FIXED SIZE AND HAVE THEM ORDERED IN COLUMN WHEN ON VERTICAL MOBILE SCREEN (MEDIA QUERY FOR PORTRAIT ORIENTATION
OR FOR WIDTH. [OR THE OTHER WAY AROUND CAUSE MOBILE FIRST])

LATER, START SHOWING THEM IN REGULAR SQUARE GRID, THEN ANIMATE THEM ACCOMODIATING IN VERTICAL (For portriat)

or maybe not
*/
